input {
background-color: #90ee90;
border: 2px solid
border-color: red;
font-weight: bold; 

}

textarea {
background-color: #F0E68C;
color: #6B8E23;
border:2px solid #556B2F;
}

button {
background-color: #F0E68X;
font: 13px verdana, arial, helvetica, sans-serif;
color: #6B8E23;
border: 2px solid #556B2F;
}

select {
background-color: #F0E68C;
font: 13px verdana, arial, helvetica, sans-serif;
color: #6B8E23;
}

form {
background-color: #000000;
border: 2px solid #556B2F;
background: url(form.jpg) no-repeat;
}
